@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: media;
  src: url(../public/mediasans-bolditalic-TRIAL-BF63c7546b5d1a5.otf);
}
@font-face {
  font-family: kaman;
  src: url(../public/Mj_Kaman\ Regular.ttf);
}
body {
  background-color: #ffffff;
  font-family: media;
}
/* .text-wrapper {
  background: linear-gradient(
    to bottom,
    rgba(27, 27, 27, 1) 0%,
    rgba(27, 27, 27, 1) 25%,
    rgba(27, 27, 27, 0) 37.5%,
    rgba(27, 27, 27, 0) 62.5%,
    rgba(27, 27, 27, 1) 75%,
    rgba(27, 27, 27, 1) 100%
  );
} */

.text-welcome {
  font-family: kaman;
}
.text.color {
  color: red;
}
/* .inner {
  background-color: black;
} */
.inner .page {
  background-color: white;
}
.inner .slide {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 3;
}

/* second animation */

.colum-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
